<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HumStoryfun | Home Page</title>
        <link rel="icon" type="image/png" href="images/humstory.png">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <div class="main-container">
            <div class="confession-image">
                <img src="images/confession.png" alt="">
            </div>
            <div class="confession-speech">
                <% if (locals.secret && locals.username) { %>
                    <p><%=secret%> My name is also <%=username%></p>
                <% } else { %>
                    <p>Hummmm</p>
                <% }; %>
            </div>
        </div>
        
        <footer>
            <!-- <div class="footer-infos">
                <a href="/">Home</a>
                <a href="/about">About</a>
            </div> -->
            <div class="footer-separator-line"></div>
            <% if (locals.currentYear) { %>
                <div class="footer-copyright">© <%=currentYear%> HumStoryfun, Inc</div>
            <% } else { %>
                <div class="footer-copyright">© 2026  HumStoryfun, Inc</div>
            <% }; %>
        </footer>
    </body>
</html>