/* comment or uncomment for debugging purposes */
/* * {
    outline: red 1px solid;
} */

body {
    height: 100vh;
    /* background-color: red; */
    position: relative;
    margin: 0;
    padding-bottom: 300px;
}

.main-container {
    width: 90%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* .confession-image { 
    width: 100%;
    height: 80%;
} */

.confession-image img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.confession-speech {
    text-align: center;
    margin-top: 3px;
}

.confession-speech p {
    font-weight: bold;
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: beige;
    margin: 0;  
}

.footer-separator-line {
    height: 1px;
    background-color: #909090;
    width: 70%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    body {
        padding-bottom: 1200px;
    }
}